<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row mt-3">

            <div class="col-8 offset-2">
                <h1>Edit listing </h1>
                <form action="/listing/<%= datas._id  %>/edit?_method=PUT" method="POST" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" value="<%= datas.title %>" name="listing[title]" id="title"
                            class="form-control" required>
                        <div class="invalid-feedback">Please enter valid title</div>
                        <div class="valid-feedback">looks good title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" value="" name="listing[description]" id="description" class="form-control"
                            required><%=datas.description%></textarea>
                        <div class="invalid-feedback">Please write valid description</div>
                    </div>
                    <p>
                        <i><b>old-IMG</b></i><br>
                        <img src="<%=img%>" alt="old-image">
                    </p>
                    <div class="mb-3">
                        <label for="image-url" class="form-label">Upload new Image</label>
                        <input type="file" name="listing[image][url]" id="image-url" class="form-control">
                        <div class="invalid-feedback">Please put valid image URL</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" value=" <%= datas.price %>" name="listing[price]" id="price"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" value="<%=datas.country %>" name="listing[country]" id="country"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter valid Country</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" value="<%=datas.location %>" name="listing[location]" id="location"
                            class="form-control" required>
                        <div class="invalid-feedback">Please enter valid location</div>
                    </div>
                    <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
                </form>
            </div>
        </div>
    </body>